.signInForm {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  max-height: 65rem;
}

.signInForm__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 0.1rem solid black;
  height: 100%;
  width: 100%;
  max-height: 34rem;
  max-width: 31.2rem;
  margin-top: 30rem;
}

.signInForm__container p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
}

.signInForm__containerInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 440px;
  max-height: 100px;
}

.signInForm label {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 40px;
  display: block;
  font-size: var(--fs-subLg);
  margin-bottom: 0.8rem;
  line-height: var(--lh-label);
  font-weight: 500;
  margin-bottom: 2rem;
}

.signInForm__input {
  border: 1px solid var(--purple);
  display: flex;
  border-radius: 1.2rem;
  padding: 0 1.2rem;
  background: var(--white);
  height: 4.4rem;
}

.signInForm__Checkbox {
  margin-top: 1rem;
}

.signInForm__containerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.signInForm__containerButton {
  border: none;
  height: 100%;
  width: 100%;
  max-height: 4.8rem;
  background: #E9542E;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.6rem;
  border-radius: 0.6rem;
}

@media (max-width: 425px) {
  .signInForm__containerButton {
    max-width: 40rem;
  }
}