.benefits {
  padding: 0 2.4rem;
}

.benefits__container {
  max-width: calc(1440px - 3.2rem);
  margin: 0 auto;
  border-top: 1px solid var(--gray-light);
  padding: 2.4rem;
}

.benefits__title {
  text-align: center;
}

.benefits__cardList {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
}

.benefits__card {
  text-align: center;
  width: 26.8rem;
  color: var(--black);
}

.benefits__cardImg {
  border-radius: 0.8rem;
  width: 100%;
  max-width: 100%;
}

.benefits__cardTitle {
  font-size: var(--fs-title-7);
  font-weight: 400;
  margin-bottom: 0.8rem;
  line-height: var(--lh-title-4);
  font-weight: 500;
}

.benefits__textWrapper {
  padding: 1.6rem;
}

.benefits__text {
  font-size: var(--fs-textLg);
  line-height: var(--lh-subSm);
}
