.tagList {
  display: flex;
  gap: 0.8rem;
}

.tagList__item {
  background: var(--purple);
  display: flex;
  align-items: center;
  padding: 0 0.8rem;
  height: 2.6rem;
  gap: 0.8rem;
  border-radius: 0.4rem;
}

.tagList__tagText {
  color: var(--white);
  font-size: var(--fs-sub);
  line-height: var(--lh-label);
}

.tagList__tagBtn {
  width: 1.6rem;
  height: 1.6rem;
  background: var(--white);
  border-radius: 50%;
}
