.header {
  background: #09003e;
}

.header__container {
  display: flex;
  max-width: calc(1440px - 3.2rem);
  margin: 0 auto;
  padding: 2rem;
  justify-content: space-between;
}

.header__wrapper {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.header__wrapperButton {
  width: auto;
  border: 1px solid #e9542e;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  color: #e9542e;
  background: none;
  margin-right: 10px;
}

.header__wrapperButton:hover {
  cursor: pointer;
  background-color: #0e005f;
}

.hamburguer__wrapper {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.hamburguer {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
}

.hamburguer__pipe {
  display: block;
  background: #ffffff;
  border-radius: 200px;
  height: 0.2rem;
  width: 100%;
}
