.hero {
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1.6rem;
  z-index: -1;
  background: radial-gradient(
    circle at bottom,
    rgba(255, 255, 255, 0.3) 0%,
    var(--purple) 50%
  );
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1.6rem;
  z-index: -2;
  background: var(--purple);
}

.hero__container {
  padding: 3rem 2.4rem 0;
}

.hero__content {
  color: var(--white);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero__title {
  font-weight: 700;
}

.hero__firstTitle {
  font-size: var(--fs-title-1);
  line-height: var(--lh-title-1);
}

.hero__secondTitle {
  margin: 0.8rem 0 1.6rem;
  font-size: var(--fs-title-6);
  line-height: var(--lh-title-6);
}

.hero__text {
  font-size: var(--fs-text);
  line-height: var(--lh-text);
  margin-bottom: 3.2rem;
  font-weight: 400;
}

.hero__illustration {
  width: 100%;
  max-width: 236px;
  object-fit: contain;
  display: block;
  margin-top: 4.8rem;
}
