.hero {
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2rem;
  z-index: -1;
  background: radial-gradient(
    circle at bottom,
    rgba(255, 255, 255, 0.3) 0%,
    var(--purple) 50%
  );
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2rem;
  z-index: -2;
  background-image: url("../../assets/images/image-texture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: var(--purple);
  background-blend-mode: overlay;
}

.hero__container {
  padding: 3rem 2.4rem 0;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

.hero__textWrapper {
  color: var(--white);
  text-align: center;
}

.hero__title {
  font-weight: 700;
}

.hero__firstTitle {
  font-size: var(--fs-title-1);
  line-height: var(--lh-title-1);
}

.hero__secondTitle {
  margin: 0.8rem 0 1.6rem;
  font-size: var(--fs-title-6);
  line-height: var(--lh-title-6);
}

.hero__text {
  font-size: var(--fs-text);
  line-height: var(--lh-text);
  margin-bottom: 3.2rem;
  font-weight: 400;
}

.hero__ctaBtn,
.hero__imgWrapper {
  margin: 0 auto;
}

.hero__img {
  width: 100%;
  max-width: 280px;
  object-fit: contain;
  display: block;
  margin-top: 4.8rem;
}

@media screen and (min-width: 1024px) {
  .hero::before {
    display: none;
    bottom: 4rem;
  }

  .hero::after {
    bottom: 4rem;
  }

  .hero__container {
    flex-direction: row;
    gap: 3.2rem;
  }

  .hero__textWrapper {
    max-width: 518px;
    align-self: center;
    transform: translateY(-3.2em);
    text-align: left;
  }

  .hero__textWrapper .hero__ctaBtn {
    margin: initial;
    height: 6rem;
  }

  .hero__imgWrapper {
    margin: 0 4rem 0 0;
  }

  .hero__img {
    max-width: 560px;
    margin: initial;
  }
}
